.hideScrollBar {
    overflow: auto; /* Allows scrolling */
  }
  
  /* Hides scrollbar in WebKit browsers (Chrome, Safari) */
  .hideScrollBar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  
  /* Hides scrollbar in Firefox */
  .hideScrollBar {
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }
  